<behaviors>
  <endpointBehaviors>
    <behavior name="JSONBebavior">
      <webHttp helpEnabled="true" defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json"
        faultExceptionEnabled="true" />
    </behavior>
    <behavior name="SOAPBehavior" />
  </endpointBehaviors>
  <serviceBehaviors>
    <behavior name="MenuServiceBehaviors">
      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="">
      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
  </serviceBehaviors>
</behaviors>