<bindings>
  <basicHttpBinding>
    <binding name="ClientBasicHttpBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
     maxReceivedMessageSize="2147483647"/>
    <binding name="HttpBindingConfig" />
    <binding name="BasicHttpBinding_HTTPS">
      <security mode="Transport" />
    </binding>
  </basicHttpBinding>
  <webHttpBinding>
    <binding name="JSONBinding" maxBufferSize="6553600" maxBufferPoolSize="524288"
     maxReceivedMessageSize="6553600" />
    <binding name="JSONImportBinding" sendTimeout="00:05:00" maxBufferSize="6553600"
     maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" />
  </webHttpBinding>
</bindings>