<services>
  <service name="MISA.QLNH.BackEnd.EmployeeService">
    <endpoint address="" behaviorConfiguration="JSONBebavior" binding="webHttpBinding"
     bindingConfiguration="JSONBinding" contract="MISA.QLNH.BackEnd.IEmployeeService" />

  </service>
  <service name="MISA.QLNH.BackEnd.CustomerService">
    <endpoint address="" behaviorConfiguration="JSONBebavior" binding="webHttpBinding"
     bindingConfiguration="JSONBinding" contract="MISA.QLNH.BackEnd.ICustomerService" />

  </service>
  <service name="MISA.QLNH.BackEnd.RepositoryService">
    <endpoint address="" behaviorConfiguration="JSONBebavior" binding="webHttpBinding"
     bindingConfiguration="JSONBinding" contract="MISA.QLNH.BackEnd.IRepositoryService" />

  </service>
</services>